<mat-card>
  <h2>Login</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">  
    <div>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf= "form.get('email')?.hasError('required')">
        O email é obrigatório
      </mat-error>
      <mat-error *ngIf= "form.get('email')?.hasError('email')">
        E-mail inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" type="password" />
      <mat-error *ngIf="form.get('senha')?.hasError('required')">
        A senha é obrigatória
      </mat-error>
      <mat-error *ngIf="form.get('senha')?.hasError('minlength')">
        A senha deve ter no mínimo 6 caracteres
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit">
      Entrar
    </button>
    </div>
  </form>
</mat-card>
